footer {
	height: 125px;
	border: 1px solid black;
	margin-top: 20px;
}

section {
	background-color: #E0A92C;
	width: 100%;
	border: 1px solid rgba(121, 121, 121, 1);
	padding: 20px 20px 20px 20px;
}

aside {
	display: none;
}

a{
	text-decoration: none;
	color: black;
}

#user_zona{
	position: relative;
	height: 75%;
}

nav{
	position: relative;
	width: 100%;
	float: right;
	height: 40px;
}

#logo{
	width: 200px;
	float: left;	
}

#logomini{
	display: none;
}

#login, #logout, #mensajes{
	width: 60px;
	height: 35px;
	float: right;
	font-weight: bold;
	font-size: 10px;
	margin: 5px;
	background: #EEEEEE;
}

.ocultar{
	display: none;
}

#buscador{
	width: 40px;
	height: 100%;
	float: right;
	border-radius: 20px;
	background-image: url("../media/lupa.ico");
	background-repeat: no-repeat;
	background-position: center;
	color: #003886;
}

#buscador::placeholder {
	color: transparent;
}

#buscador:focus{
	width: 30%;
	background-image: none;
	outline: none;
}

#buscador:focus::placeholder {
	color: grey;
}

#desplegable{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
    width: 65%;
    float: left;
	background: #EEEEEE;
	height: 100%;
	cursor: pointer;
}

#desplegable li {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#desplegable #menu {
	list-style-type: none;
	position: absolute;
    z-index: 1;
	left: 0px;
	top: 40px;
    width: 65%;
    margin: 0px;
	padding: 0px;
    background: #BDBDBD;
}

#desplegable #menu li {
	border: 1px solid rgba(121, 121, 121, 1);
	height: 40px;
	color: black;
}

/**/
#noticias{
	font-size: 35px;
}
/**/

#footer_izquierda {
	display: none;
}

#footer_centro {
	float: left;
    width: 100%;
    height: 40%;
    background-color: #BDBDBD;
}

#footer_derecha {
	float: left;
    width: 100%;
    height: 40%;
    background-color: #BDBDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

#copy {
	background-color: black;
    width: 100%;
    height: 20%;
    float: left;
    color: white;
    text-align: center;
    font-size: 12px;
}

#menu_footer{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_footer li {
	width: 100px;
    float: left;
}

#menu_footer li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.iconos{
	width: 55px;
	text-align: center;
}

.listas {
	cursor: pointer;
    cursor: hand;
    margin: 15px 0px 15px 0px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #BDBDBD;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.listas:hover {
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}

.listas .caratula {
	width: 20%;
	display: none;
}

.listas .imagen_novedad {
	width: 100%;
}

.listas .titulo {
	width: 100%;
}

.listas .descripcion, .contenido {
	width: 100%;
	text-align: justify;
}

.listas .contenido {
	margin-top: 15px;
}

#nuevo_comentario {
	width: 100%;
	height: 100px;
	margin-top: 15px;
}

.comentario {
	border: 2px solid black;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    background-color: #EEEEEE;
}

#layout > h2 {
	text-align: center;
}

#log {
	float: right;
    color: white;
    margin: 10px 5px 5px 5px;
}

.leerMas {
	cursor: pointer;
	cursor: hand;
	font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
}

.juego {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.juego div:nth-child(1){
	width: 100%;
}

.juego div:nth-child(2){
	width: 100%;
}

.cuenta  {
	display: flex;
    flex-wrap: wrap;
}

.cuenta .datoGrande {
	width: 100%;
}

.cuenta .datoPeque {
	width: 50%;
}

.espaciado {
	margin-top: 10px;
}

.cuenta .dato {
	width: 100%;
    height: 40px;
}

.cuenta .boton {
	width: 20%;
	height: 40px;

}

.cuenta .dato:disabled {
	background-color: #BDBDBD;
}

@media only screen and (min-width: 600px) {
	#login, #logout, #mensajes{
		width: 80px;
	}

	#logo {
		width: 230px;
	}

	#menu{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		width: 70%;
		height: 100%;
		float: left;
	}

	#menu li {
	    color: black;
	    text-decoration: none;
	    width: 24%;
		height: 100%;
		font-size: 14px;
	    float: left;
		background: #EEEEEE;
		border: 1px solid rgba(121, 121, 121, 1);
		display: flex;
	    justify-content: center;
	    align-items: center;
	    cursor:pointer; cursor: hand
	}

	#buscador{
		width: 30%;
		background-position: left;
		padding: 0px 5px 0px 25px;
		
	}

	#buscador::placeholder {
		color: grey;
	}

	#buscador:focus{
		background-image: url("../media/lupa.ico");
	}

	.juego {
		flex-direction: row;
	}

	.juego div:nth-child(1){
		width: 25%;
	}

	.juego div:nth-child(2){
		width: 74%;
	}

	.listas .caratula {
		display: block;
	}

	.listas .descripcion {
		width: 78%;
	}
}

@media only screen and (min-width: 768px) {
	aside {
		display: block;
		width: 20%;
		background-color: #EEEEEE;
		border: 1px solid rgba(121, 121, 121, 1);
	}

	/*AÑADIR*/
	aside p{
		margin: 5% 0% 5% 5%;
	}

	section {
		width: 80%;
	}

	nav{
		position: relative;
		width: 80%;
		float: right;
	}

	#logo{
		width: 230px;	
	}

	#logomini{
		display: block;
		width: 119px;
	    margin: 2px auto auto auto;
	}

	#login, #logout, #mensajes{
		width: 100px;
		height: 40px;
		font-size: 13px;
	}

	#footer_izquierda {
		display: block;
		float: left;
	    width: 20%;
	    height: 80%;
	    background-color: #BDBDBD;
	    text-align: center;
	}

	#footer_centro {
	    width: 50%;
	    height: 80%;
	}

	#footer_derecha {
	    width: 30%;
	    height: 80%;
	    flex-wrap: wrap;
	}

	.iconos{
		min-width: 40px;
	}

	#menu_footer li {
	    margin: 40px 0px 40px 0px;
	}

	#noticias{
		width: 100%;
		height: 20%;
		display: flex;
	    justify-content: center;
	    align-items: center;
		font-size: 20px;
	}

	/*AÑADIR*/
	#noticia1{
		width: 100%;
		overflow-y: scroll;
		text-align: justify;
	}

	/*AÑADIR*/
	#noticia2, #noticia3, #noticia4{
		display: none;
		overflow-y: scroll;
		text-align: justify;
	}

	/*AÑADIR*/
	#boton1, #boton2, #boton3, #boton4{
		width: 100%;
		height: 7.5%;
		font-weight: bold;
		background: #EEEEEE;
	}

}
