/* Ajustes generales */
html{
	background-color: #003886;
}

*{
	font-family: 'Acme';
	box-sizing: border-box;
}
/* Tipos de letra */
@font-face {
    font-family: Acme;
    src: url("../fonts/Acme-Regular.ttf");
}

.acme {
	font-family: 'Acme';
}

.cour{
	font-family: 'Courgette';
}
/* Estructura principal */
.ajustes-estructura {
	max-width: 1400px;
	min-width: 350px;
	width: 80%;
	margin: auto;
	position: relative;
}

header{
	height: 165px;
}

main {
	display: flex;
}